<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit your account</h3>
        </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
                    <fieldset>
                <div class="form-group">
                   <%= f.label :name %><br />
                   <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :address %><br />
                <%= f.text_field :address, autofocus: true, autocomplete: "address" , class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :contact %><br />
    <%= f.text_field :contact, autofocus: true, autocomplete: "contact" , class: 'form-control' %>
              </div>
               <div class="form-group">
                 <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
               </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
                <div class="form-group">
                   <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" , class: 'form-control'%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
                </div>
                 <div class="form-group">
                   <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control'%>
                 </div>
                 <div class="form-group">
                   <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control'%>
                 </div>
                 <div class="form-group">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
                 </div>
                 <!-- <div class="form-group">
                   <%= f.label "How would you like to receive your cards earning?" %><br />
    <%= f.label "AUD" %>
    <%= f.radio_button(:receive_type, "aud".to_sym) %>

    <%= f.label "CRYPTO" %>
    <%= f.radio_button(:receive_type, "crypto".to_sym) %>

               </div> -->
                 <div class="actions">
    <%= f.submit "Update", class: 'btn btn-lg btn-primary btn-block' %>
  </div>
            </fieldset>
              <% end %><br />

<%= link_to "Back", :back %>

          </div>
      </div>
    </div>
  </div>
</div>
