<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">  <%= link_to 'Mining Hub' , root_path, class:'navbar-brand' %></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto pull-right">
        <% if account_signed_in? %>
          <li class="nav-item"><%= link_to 'Assets' , assets_path, class:"nav-link js-scroll-trigger " %></li>
          <li class="nav-item"><%= link_to 'Payouts' , withdraws_path, class:"nav-link js-scroll-trigger " %></li>
          <li class="nav-item"><%= link_to 'Edit Profile' , edit_account_registration_path, class:"nav-link js-scroll-trigger " %></li>
          <li class="nav-item"><%= link_to 'Log Out', destroy_account_session_path, class:"nav-link js-scroll-trigger", method: :delete %></li>
          <% else %>
           <li class="nav-item"><%= link_to 'Home', root_path, class:"nav-link js-scroll-trigger pull-right"  %></li>
            <li class="nav-item"><%= link_to 'Sign Up', new_account_registration_path, class:"nav-link js-scroll-trigger " %></li>
            <li class="nav-item"><%= link_to 'Log In', new_account_session_path, class:"nav-link js-scroll-trigger " %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
