<div class="container" style="margin-top: 100px">
  <button type="button" class="btn btn-primary btn-lg btn_idea pull-right" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-plus"></span> &nbsp;Add Asset
</button>
<br><br><br>

<div>
  <p><b>Total Amount in AUD:</b>  $ <%= @total_bank %></p>
  <p><b>Total Amount in CRYPTO:</b> <%= @total_wallet %> ETH</p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for Asset.new do |f| %>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add your Asset</h4>
      </div>
      <div class="modal-body">

        <%= f.input :name %>
        <%= f.input :make %>
        <%= f.input :model %>
        <%= f.input :memory %>
        <%= f.input :serial_number %>
        <%= f.input :description %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>




<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Memory</th>
        <th>Status</th>
        <th>AUD Balance</th>
        <th>CRYPTO Balance</th>
      </tr>
    </thead>

  <% @assets.each do|asset| %>
      <tbody>
        <% if asset.return_request %>
      <tr style="background:orange">
        <td><%= asset.name %></td>
        <td><%= asset.make %></td>
        <td><%= asset.memory %></td>
        <td><%= asset.model %></td>
        <td><%
        if asset.status == "active"
          concat "Active & Mining"
        end
        if asset.status == "waiting_delivery"
          concat "Waiting Delivery"
        end
        if asset.status == "received"
          concat "Received and Testing"
        end
        if asset.status == "returned"
          concat "Returned"
        end
        %></td>
        <td><%= asset.balance.aud_amount %></td>
        <td><%= asset.balance.crypto_amount %></td>
        <% if !asset.return_request %>
        <td><%= link_to 'Return' , return_assets_path(id: asset.id), class: 'btn btn-sm btn-success', data: {toggle:"modal"}, href:"#returnModal" %></td>
        <% else %>
        <td>
          <% if asset.status != 'returned' %>
            <%= link_to 'Cancel Return' , unreturn_assets_path(id: asset.id), class: 'btn btn-sm btn-primary' %> </td>
          <% end %>
         <% end %>
         <% if !asset.lock || asset.status == " waiting_ delivery" %>
        <td><%= link_to 'Edit' , edit_asset_path(id: asset.id), class: 'btn btn-sm btn-primary' %> </td>
        <% end %>
      </tr>
      <% else %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.make %></td>
        <td><%= asset.memory %></td>
        <td><%= asset.model %></td>
        <td><%
        if asset.status == "active"
          concat "Active & Mining"
        end
        if asset.status == "waiting_delivery"
          concat "Waiting Delivery"
        end
        if asset.status == "received"
          concat "Received and Testing"
        end
        if asset.status == "returned"
          concat "Returned"
        end
         %></td>
        <td><%= asset.balance.aud_amount %></td>
        <td><%= asset.balance.crypto_amount %></td>
        <td><% if asset.status != "waiting_delivery" %>
          <% if !asset.return_request %>
          <button class='btn btn-sm btn-success' data-toggle="modal" data-target="#returnModal">Return</button>
          <div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="returnModalLabel">Please enter the address you want to return the asset.</h4>
                </div>
                <div class="modal-body">
                  <form action="<%= return_assets_path %>" method="get">
                    <input type="hidden" name="id" value="<%= asset.id %>">
                    <input type="text" name="return_request_address" class="form-control text required" required />
                </div>
                <div class="modal-footer">
                  <input type="submit" class='btn btn-sm btn-success' value="Return" />
                </form>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <% else %>
          <%= link_to 'Cancel Return' , unreturn_assets_path(id: asset.id), class: 'btn btn-sm btn-primary' %>
           <% end %>
         <% end %></td>
         <% if !asset.lock || asset.status == " waiting_ delivery" %>
        <td><%= link_to 'Edit' , edit_asset_path(id: asset.id), class: 'btn btn-sm btn-primary' %> </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
   <% end %>
 </table>
 </div>
 <div class="text-center">
    <%= will_paginate @assets %>
  </div>
</div>
